*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height:100%;
    background-image: url("https://images.unsplash.com/photo-1548504773-429e84f586d2?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
#header{
position: relative;
}
#header h1{
    font-size: 50px;
    padding: 20px 30px;
    position: absolute;
    letter-spacing: 5px;
}
.Circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(5, 71, 25, 0.471) ;
    left: 80%;
    top: 40px;
    overflow: hidden;
    position: relative;
}
.Circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
 .p1{
    font-size: 25px;
    letter-spacing: 5px;
    padding: 0 40px;
    font-weight: 400;
}
 .p2{
    font-size: 25px;
    letter-spacing: 5px;
    padding: 0 100px 80px;
    font-weight: 400;
}

.taskbox{
    width: 90vw;
    margin: 40px auto;
    background: transparent; 
    color: black;
    padding: 30px;
    border-radius: 10px; 
}
.task-table {
    width: 100%;
    border-collapse: collapse; 
}
.task-table th {
    background: transparent;
    font-weight: 600;
}

.task-table th,
.task-table td {
    border: 2px solid black;   
    padding: 12px 16px;
    text-align: left;
    color: black;              
} 
.task-table th:first-child,
.task-table td:first-child {
    width: 50%;
}
.urgent {
    color: red;
    font-weight: 600;
}

.important {
    color: orange;
    font-weight: 600;
}

.normal {
    color: green;
    font-weight: 600;
}
 .task-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent
}




